# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.0/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
#
# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.0/en/server-system-variables.html#sysvar_default_authentication_plugin


### slow query [enable just for debuging]
# 1 = on / 0 = off
slow_query_log = 1
# in seconds
long_query_time = 30
# touch the file and set mysql permission for it
slow_query_log_file = /var/log/mysql/mysql-slow.log


character-set-server=utf8mb4
collation-server=utf8mb4_persian_ci
default-storage-engine=MyISAM

default-authentication-plugin=mysql_native_password

#datadir=/var/lib/mysql
#socket=/var/lib/mysql/mysql.sock

#log-error=/var/log/mysqld.log
#pid-file=/var/run/mysqld/mysqld.pid

log_bin_trust_function_creators=1
sql-mode=
#innodb_force_recovery = 1

#skip-locking

#have_query_cache=1
key_buffer_size = 2G
max_allowed_packet = 16M
table_open_cache = 4096
sort_buffer_size = 8M
read_buffer_size = 2M
read_rnd_buffer_size = 16M
myisam_sort_buffer_size = 64M
#thread_cache_size = 8
#query_cache_size = 64M
#thread_concurrency = 24


### INODB
#max_connect_errors = 10
#max_connections = 100
#back_log = 50
join_buffer_size = 8M
#ft_min_word_len = 4
#thread_stack = 192K
tmp_table_size = 64M
max_heap_table_size = 64M

#bulk_insert_buffer_size = 64M
#myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 2G
myisam_repair_threads = 1
#myisam_recover
#innodb_additional_mem_pool_size = 16M
innodb_lock_wait_timeout=120

# mysql 8.0.3+
#innodb_dedicated_server
innodb_buffer_pool_size = 512M
#innodb_log_file_size=??
#innodb_flush_method=??
